<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.license</key>
	<string>MIT</string>
	<key>com.schriftgestaltung.font.localizedDesigner</key>
	<string>Japanese;マシュー・ウェルチ＆グスタボ・コスタ</string>
	<key>com.schriftgestaltung.font.localizedFamilyName</key>
	<string>Hebrew;אטלטה יוניסל</string>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>226</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>2087CE79-2284-4DA6-8543-529C0FCE662A</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>700</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>Adieresis</string>
		<string>uni01DE</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>uni1E04</string>
		<string>uni0243</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>uni0189</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>uni1E12</string>
		<string>Dcroat</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>uni0228</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni018E</string>
		<string>uni01A9</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>uni1E2E</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>uni0197</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>uni01C7</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni1E3C</string>
		<string>uni013B</string>
		<string>uni01C8</string>
		<string>Lslash</string>
		<string>M</string>
		<string>uni1E3E</string>
		<string>N</string>
		<string>uni01CA</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni1E4A</string>
		<string>uni0145</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>Eng</string>
		<string>uni01CB</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>Odieresis</string>
		<string>uni022A</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>uni1E52</string>
		<string>uni1E50</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>uni1E4C</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>uni024C</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E62</string>
		<string>uni1E9E</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni1E70</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>U</string>
		<string>Uacute</string>
		<string>uni0244</string>
		<string>Ubreve</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni1E92</string>
		<string>Cdotaccent.001</string>
		<string>Iacute_J.loclNLD</string>
		<string>Ldot.loclCAT</string>
		<string>IJ.loclNLD</string>
		<string>uni1E36</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni01CE</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>adieresis</string>
		<string>uni01DF</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>uni1E05</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>uni1E13</string>
		<string>dcroat</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>uni0229</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni0283</string>
		<string>uni1EBD</string>
		<string>uni01DD</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>uni1E25</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>uni01D0</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>uni1E2F</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>uni0268</string>
		<string>itilde</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni1E3D</string>
		<string>uni013C</string>
		<string>lslash</string>
		<string>m</string>
		<string>uni1E3F</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni1E4B</string>
		<string>uni0146</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>eng</string>
		<string>uni01CC</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>uni01D2</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>odieresis</string>
		<string>uni022B</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>uni1E53</string>
		<string>uni1E51</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>uni1E4D</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>uni1E63</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni1E71</string>
		<string>uni021B</string>
		<string>uni1E6D</string>
		<string>u</string>
		<string>uacute</string>
		<string>uni0289</string>
		<string>ubreve</string>
		<string>uni01D4</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01D6</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>uni1E93</string>
		<string>ij.NLD</string>
		<string>dotlessi.TRK</string>
		<string>i.loclTRK.TRK</string>
		<string>iacute_j.loclNLD</string>
		<string>ldot.loclCAT</string>
		<string>dotlessi.loclTRK</string>
		<string>uni1E37</string>
		<string>fi</string>
		<string>fl</string>
		<string>E_T.liga</string>
		<string>e_t.liga</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni01C2</string>
		<string>uni01C0</string>
		<string>uni01C1</string>
		<string>uni01C3</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0402</string>
		<string>uni0462</string>
		<string>uni0472</string>
		<string>uni0474</string>
		<string>uni0492</string>
		<string>uni0496</string>
		<string>uni0498</string>
		<string>uni049A</string>
		<string>uni049E</string>
		<string>uni04A2</string>
		<string>uni0524</string>
		<string>uni04A8</string>
		<string>uni04AA</string>
		<string>uni04AC</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04B2</string>
		<string>uni04B4</string>
		<string>uni04B6</string>
		<string>uni04BA</string>
		<string>uni04BC</string>
		<string>uni04BE</string>
		<string>uni04C0</string>
		<string>uni04C1</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni04D4</string>
		<string>uni04D6</string>
		<string>uni04D8</string>
		<string>uni04DA</string>
		<string>uni04DC</string>
		<string>uni04DE</string>
		<string>uni04E0</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EA</string>
		<string>uni04EC</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
		<string>uni04F4</string>
		<string>uni04F6</string>
		<string>uni04F8</string>
		<string>uni051C</string>
		<string>uni0414.loclBGR</string>
		<string>uni0416.loclBGR</string>
		<string>uni041A.loclBGR</string>
		<string>uni041B.loclBGR</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni045B</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0452</string>
		<string>uni0463</string>
		<string>uni0473</string>
		<string>uni0475</string>
		<string>uni0493</string>
		<string>uni0497</string>
		<string>uni0499</string>
		<string>uni049B</string>
		<string>uni049F</string>
		<string>uni04A3</string>
		<string>uni0525</string>
		<string>uni04A9</string>
		<string>uni04AB</string>
		<string>uni04AD</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
		<string>uni04B3</string>
		<string>uni04B5</string>
		<string>uni04B7</string>
		<string>uni04BB</string>
		<string>uni04BD</string>
		<string>uni04BF</string>
		<string>uni04CF</string>
		<string>uni04C2</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04DB</string>
		<string>uni04DD</string>
		<string>uni04DF</string>
		<string>uni04E1</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EB</string>
		<string>uni04ED</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
		<string>uni04F5</string>
		<string>uni04F7</string>
		<string>uni04F9</string>
		<string>uni051D</string>
		<string>uni0432.loclBGR</string>
		<string>uni0433.loclBGR</string>
		<string>uni0434.loclBGR</string>
		<string>uni0436.loclBGR</string>
		<string>uni0437.loclBGR</string>
		<string>uni0438.loclBGR</string>
		<string>uni0439.loclBGR</string>
		<string>uni043A.loclBGR</string>
		<string>uni043B.loclBGR</string>
		<string>uni043D.loclBGR</string>
		<string>uni043F.loclBGR</string>
		<string>uni0442.loclBGR</string>
		<string>uni0447.loclBGR</string>
		<string>uni0446.loclBGR</string>
		<string>uni0448.loclBGR</string>
		<string>uni0449.loclBGR</string>
		<string>uni044C.loclBGR</string>
		<string>uni044E.loclBGR</string>
		<string>uni0431.loclSRB</string>
		<string>uni0433.loclSRB</string>
		<string>uni0434.loclSRB</string>
		<string>uni043F.loclSRB</string>
		<string>uni0442.loclSRB</string>
		<string>uni0448.loclSRB</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>uni0394</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>uni03A9</string>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>Iotadieresis</string>
		<string>Upsilondieresis</string>
		<string>uni0370</string>
		<string>uni0372</string>
		<string>uni0376</string>
		<string>uni03D8</string>
		<string>uni03DA</string>
		<string>uni03DC</string>
		<string>uni03DE</string>
		<string>uni03E0</string>
		<string>uni03CF</string>
		<string>uni03F7</string>
		<string>uni03FA</string>
		<string>uni1F08</string>
		<string>uni1F09</string>
		<string>uni1F0A</string>
		<string>uni1F0B</string>
		<string>uni1F0C</string>
		<string>uni1F0D</string>
		<string>uni1F0E</string>
		<string>uni1F0F</string>
		<string>uni1FBA</string>
		<string>uni1FBB</string>
		<string>uni1FB8</string>
		<string>uni1FB9</string>
		<string>uni1FBC</string>
		<string>uni1F88</string>
		<string>uni1F89</string>
		<string>uni1F8A</string>
		<string>uni1F8B</string>
		<string>uni1F8C</string>
		<string>uni1F8D</string>
		<string>uni1F8E</string>
		<string>uni1F8F</string>
		<string>uni1F18</string>
		<string>uni1F19</string>
		<string>uni1F1A</string>
		<string>uni1F1B</string>
		<string>uni1F1C</string>
		<string>uni1F1D</string>
		<string>uni1FC8</string>
		<string>uni1FC9</string>
		<string>uni1F28</string>
		<string>uni1F29</string>
		<string>uni1F2A</string>
		<string>uni1F2B</string>
		<string>uni1F2C</string>
		<string>uni1F2D</string>
		<string>uni1F2E</string>
		<string>uni1F2F</string>
		<string>uni1FCA</string>
		<string>uni1FCB</string>
		<string>uni1FCC</string>
		<string>uni1F98</string>
		<string>uni1F99</string>
		<string>uni1F9A</string>
		<string>uni1F9B</string>
		<string>uni1F9C</string>
		<string>uni1F9D</string>
		<string>uni1F9E</string>
		<string>uni1F9F</string>
		<string>uni1F38</string>
		<string>uni1F39</string>
		<string>uni1F3A</string>
		<string>uni1F3B</string>
		<string>uni1F3C</string>
		<string>uni1F3D</string>
		<string>uni1F3E</string>
		<string>uni1F3F</string>
		<string>uni1FDA</string>
		<string>uni1FDB</string>
		<string>uni1FD8</string>
		<string>uni1FD9</string>
		<string>uni1F48</string>
		<string>uni1F49</string>
		<string>uni1F4A</string>
		<string>uni1F4B</string>
		<string>uni1F4C</string>
		<string>uni1F4D</string>
		<string>uni1FF8</string>
		<string>uni1FF9</string>
		<string>uni1FEC</string>
		<string>uni1F59</string>
		<string>uni1F5B</string>
		<string>uni1F5D</string>
		<string>uni1F5F</string>
		<string>uni1FEA</string>
		<string>uni1FEB</string>
		<string>uni1FE8</string>
		<string>uni1FE9</string>
		<string>uni1F68</string>
		<string>uni1F69</string>
		<string>uni1F6A</string>
		<string>uni1F6B</string>
		<string>uni1F6C</string>
		<string>uni1F6D</string>
		<string>uni1F6E</string>
		<string>uni1F6F</string>
		<string>uni1FFA</string>
		<string>uni1FFB</string>
		<string>uni1FFC</string>
		<string>uni1FA8</string>
		<string>uni1FA9</string>
		<string>uni1FAA</string>
		<string>uni1FAB</string>
		<string>uni1FAC</string>
		<string>uni1FAD</string>
		<string>uni1FAE</string>
		<string>uni1FAF</string>
		<string>uni1F5F.001</string>
		<string>Psi.ss01</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>uni03BC</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>uni03C2</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
		<string>omicrontonos</string>
		<string>omegatonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>uni0371</string>
		<string>uni0373</string>
		<string>uni0377</string>
		<string>uni03D9</string>
		<string>uni03DB</string>
		<string>uni03DD</string>
		<string>uni03DF</string>
		<string>uni03E1</string>
		<string>uni03D7</string>
		<string>uni03F8</string>
		<string>uni03FB</string>
		<string>uni1F00</string>
		<string>uni1F01</string>
		<string>uni1F02</string>
		<string>uni1F03</string>
		<string>uni1F04</string>
		<string>uni1F05</string>
		<string>uni1F06</string>
		<string>uni1F07</string>
		<string>uni1F70</string>
		<string>uni1F71</string>
		<string>uni1FB6</string>
		<string>uni1FB0</string>
		<string>uni1FB1</string>
		<string>uni1FB3</string>
		<string>uni1FB2</string>
		<string>uni1FB4</string>
		<string>uni1F80</string>
		<string>uni1F81</string>
		<string>uni1F82</string>
		<string>uni1F83</string>
		<string>uni1F84</string>
		<string>uni1F85</string>
		<string>uni1F86</string>
		<string>uni1F87</string>
		<string>uni1FB7</string>
		<string>uni1F10</string>
		<string>uni1F11</string>
		<string>uni1F12</string>
		<string>uni1F13</string>
		<string>uni1F14</string>
		<string>uni1F15</string>
		<string>uni1F72</string>
		<string>uni1F73</string>
		<string>uni1F20</string>
		<string>uni1F21</string>
		<string>uni1F22</string>
		<string>uni1F23</string>
		<string>uni1F24</string>
		<string>uni1F25</string>
		<string>uni1F26</string>
		<string>uni1F27</string>
		<string>uni1F74</string>
		<string>uni1F75</string>
		<string>uni1FC6</string>
		<string>uni1FC3</string>
		<string>uni1FC2</string>
		<string>uni1FC4</string>
		<string>uni1F90</string>
		<string>uni1F91</string>
		<string>uni1F92</string>
		<string>uni1F93</string>
		<string>uni1F94</string>
		<string>uni1F95</string>
		<string>uni1F96</string>
		<string>uni1F97</string>
		<string>uni1FC7</string>
		<string>uni1F30</string>
		<string>uni1F31</string>
		<string>uni1F32</string>
		<string>uni1F33</string>
		<string>uni1F34</string>
		<string>uni1F35</string>
		<string>uni1F36</string>
		<string>uni1F37</string>
		<string>uni1F76</string>
		<string>uni1F77</string>
		<string>uni1FD6</string>
		<string>uni1FD0</string>
		<string>uni1FD1</string>
		<string>uni1FD2</string>
		<string>uni1FD3</string>
		<string>uni1FD7</string>
		<string>uni1F40</string>
		<string>uni1F41</string>
		<string>uni1F42</string>
		<string>uni1F43</string>
		<string>uni1F44</string>
		<string>uni1F45</string>
		<string>uni1F78</string>
		<string>uni1F79</string>
		<string>uni1FE4</string>
		<string>uni1FE5</string>
		<string>uni1F50</string>
		<string>uni1F51</string>
		<string>uni1F52</string>
		<string>uni1F53</string>
		<string>uni1F54</string>
		<string>uni1F55</string>
		<string>uni1F56</string>
		<string>uni1F57</string>
		<string>uni1F7A</string>
		<string>uni1F7B</string>
		<string>uni1FE6</string>
		<string>uni1FE0</string>
		<string>uni1FE1</string>
		<string>uni1FE2</string>
		<string>uni1FE3</string>
		<string>uni1FE7</string>
		<string>uni1F60</string>
		<string>uni1F61</string>
		<string>uni1F62</string>
		<string>uni1F63</string>
		<string>uni1F64</string>
		<string>uni1F65</string>
		<string>uni1F66</string>
		<string>uni1F67</string>
		<string>uni1F7C</string>
		<string>uni1F7D</string>
		<string>uni1FF6</string>
		<string>uni1FF3</string>
		<string>uni1FF2</string>
		<string>uni1FF4</string>
		<string>uni1FA0</string>
		<string>uni1FA1</string>
		<string>uni1FA2</string>
		<string>uni1FA3</string>
		<string>uni1FA4</string>
		<string>uni1FA5</string>
		<string>uni1FA6</string>
		<string>uni1FA7</string>
		<string>uni1FF7</string>
		<string>uni1FBE</string>
		<string>psi.ss01</string>
		<string>uni037A</string>
		<string>uni10D0.case</string>
		<string>uni10D1.case</string>
		<string>uni10D2.case</string>
		<string>uni10D3.case</string>
		<string>uni10D4.case</string>
		<string>uni10D5.case</string>
		<string>uni10D6.case</string>
		<string>uni10D7.case</string>
		<string>uni10D8.case</string>
		<string>uni10D9.case</string>
		<string>uni10DA.case</string>
		<string>uni10DB.case</string>
		<string>uni10DC.case</string>
		<string>uni10DD.case</string>
		<string>uni10DE.case</string>
		<string>uni10DF.case</string>
		<string>uni10E0.case</string>
		<string>uni10E1.case</string>
		<string>uni10E2.case</string>
		<string>uni10E3.case</string>
		<string>uni10E4.case</string>
		<string>uni10E5.case</string>
		<string>uni10E6.case</string>
		<string>uni10E7.case</string>
		<string>uni10E8.case</string>
		<string>uni10E9.case</string>
		<string>uni10EA.case</string>
		<string>uni10EB.case</string>
		<string>uni10EC.case</string>
		<string>uni10ED.case</string>
		<string>uni10EE.case</string>
		<string>uni10EF.case</string>
		<string>uni10F0.case</string>
		<string>uni10D0</string>
		<string>uni10D1</string>
		<string>uni10D2</string>
		<string>uni10D3</string>
		<string>uni10D4</string>
		<string>uni10D5</string>
		<string>uni10D6</string>
		<string>uni10D7</string>
		<string>uni10D8</string>
		<string>uni10D9</string>
		<string>uni10DA</string>
		<string>uni10DB</string>
		<string>uni10DC</string>
		<string>uni10DD</string>
		<string>uni10DE</string>
		<string>uni10DF</string>
		<string>uni10E0</string>
		<string>uni10E1</string>
		<string>uni10E2</string>
		<string>uni10E3</string>
		<string>uni10E4</string>
		<string>uni10E5</string>
		<string>uni10E6</string>
		<string>uni10E7</string>
		<string>uni10E8</string>
		<string>uni10E9</string>
		<string>uni10EA</string>
		<string>uni10EB</string>
		<string>uni10EC</string>
		<string>uni10ED</string>
		<string>uni10EE</string>
		<string>uni10EF</string>
		<string>uni10F0</string>
		<string>uni05D0</string>
		<string>uniFB2E</string>
		<string>uniFB2F</string>
		<string>uniFB30</string>
		<string>uni05D1</string>
		<string>uniFB31</string>
		<string>uni05D2</string>
		<string>uniFB32</string>
		<string>uni05D3</string>
		<string>uniFB33</string>
		<string>uni05D4</string>
		<string>uniFB34</string>
		<string>uni05D5</string>
		<string>uniFB35</string>
		<string>uniFB4B</string>
		<string>uni05D6</string>
		<string>uniFB36</string>
		<string>uni05D7</string>
		<string>uni05D8</string>
		<string>uniFB38</string>
		<string>uni05D9</string>
		<string>uniFB39</string>
		<string>uni05DA</string>
		<string>uniFB3A</string>
		<string>uni05DB</string>
		<string>uniFB3B</string>
		<string>uni05DC</string>
		<string>uniFB3C</string>
		<string>uni05DD</string>
		<string>uni05DE</string>
		<string>uniFB3E</string>
		<string>uni05DF</string>
		<string>uni05E0</string>
		<string>uniFB40</string>
		<string>uni05E1</string>
		<string>uniFB41</string>
		<string>uni05E2</string>
		<string>uni05E3</string>
		<string>uniFB43</string>
		<string>uni05E4</string>
		<string>uniFB44</string>
		<string>uni05E5</string>
		<string>uni05E6</string>
		<string>uniFB46</string>
		<string>uni05E7</string>
		<string>uniFB47</string>
		<string>uni05E8</string>
		<string>uniFB48</string>
		<string>uni05E9</string>
		<string>uniFB2A</string>
		<string>uniFB2B</string>
		<string>uniFB2C</string>
		<string>uniFB2D</string>
		<string>uniFB49</string>
		<string>uni05EA</string>
		<string>uniFB4A</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni2160</string>
		<string>uni2161</string>
		<string>uni2162</string>
		<string>uni2163</string>
		<string>uni2164</string>
		<string>uni2165</string>
		<string>uni2166</string>
		<string>uni2167</string>
		<string>uni2168</string>
		<string>uni2169</string>
		<string>uni216A</string>
		<string>uni216B</string>
		<string>uni216C</string>
		<string>uni216D</string>
		<string>uni216E</string>
		<string>uni216F</string>
		<string>uni2170</string>
		<string>uni2171</string>
		<string>uni2172</string>
		<string>uni2173</string>
		<string>uni2174</string>
		<string>uni2175</string>
		<string>uni2176</string>
		<string>uni2177</string>
		<string>uni2178</string>
		<string>uni2179</string>
		<string>uni217A</string>
		<string>uni217B</string>
		<string>uni217C</string>
		<string>uni217D</string>
		<string>uni217E</string>
		<string>uni217F</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>asterisk.ss01</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>uni05BE</string>
		<string>anoteleia</string>
		<string>uni037E</string>
		<string>space</string>
		<string>CR</string>
		<string>.null</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>florin</string>
		<string>uni20B4</string>
		<string>uni20BE</string>
		<string>uni20BA</string>
		<string>uni20BC</string>
		<string>uni20BD</string>
		<string>uni20B9</string>
		<string>sterling</string>
		<string>uni20B8</string>
		<string>yen</string>
		<string>uni2233</string>
		<string>asteriskmath</string>
		<string>uni2243</string>
		<string>uni2235</string>
		<string>uni23DF</string>
		<string>uni23DD</string>
		<string>uni23E1</string>
		<string>uni2219</string>
		<string>uni2A10</string>
		<string>uni2232</string>
		<string>uni2231</string>
		<string>uni2052</string>
		<string>congruent</string>
		<string>uni220D</string>
		<string>uni222E</string>
		<string>uni2210</string>
		<string>uni221B</string>
		<string>uni23AA</string>
		<string>uni2138</string>
		<string>uni222C</string>
		<string>uni2223</string>
		<string>uni2215</string>
		<string>uni2224</string>
		<string>uni22AE</string>
		<string>uni22AC</string>
		<string>element</string>
		<string>uni220A</string>
		<string>uni2A0D</string>
		<string>uni221C</string>
		<string>uni2A15</string>
		<string>uni2A0F</string>
		<string>uni2A0E</string>
		<string>uni2A1C</string>
		<string>integralbt</string>
		<string>uni23AE</string>
		<string>integraltp</string>
		<string>uni22BA</string>
		<string>uni23A9</string>
		<string>uni23A8</string>
		<string>uni23A7</string>
		<string>uni23A2</string>
		<string>uni23A3</string>
		<string>uni23A1</string>
		<string>uni2A14</string>
		<string>uni2A12</string>
		<string>uni2A13</string>
		<string>uni2A0A</string>
		<string>uni22C3</string>
		<string>uni220C</string>
		<string>notsubset</string>
		<string>uni2285</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>emptyset</string>
		<string>infinity</string>
		<string>intersection</string>
		<string>union</string>
		<string>integral</string>
		<string>uni2126</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>uni00B5</string>
		<string>uni239C</string>
		<string>uni239D</string>
		<string>uni239B</string>
		<string>uni239F</string>
		<string>uni23A0</string>
		<string>uni239E</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>uni2A0C</string>
		<string>uni2236</string>
		<string>reflexsubset</string>
		<string>reflexsuperset</string>
		<string>uni23AD</string>
		<string>uni23AC</string>
		<string>uni23AB</string>
		<string>uni23A5</string>
		<string>uni23A6</string>
		<string>uni23A4</string>
		<string>propersubset</string>
		<string>suchthat</string>
		<string>uni2A0B</string>
		<string>uni23B3</string>
		<string>uni2140</string>
		<string>uni23B2</string>
		<string>propersuperset</string>
		<string>uni2204</string>
		<string>uni23DE</string>
		<string>uni23DC</string>
		<string>uni23E0</string>
		<string>uni222D</string>
		<string>universal</string>
		<string>uni23B0</string>
		<string>uni23B1</string>
		<string>uni23E1.001</string>
		<string>uniFFEC</string>
		<string>uniFFE9</string>
		<string>uniFFEB</string>
		<string>uniFFEA</string>
		<string>arrowup</string>
		<string>uni2197</string>
		<string>arrowright</string>
		<string>uni2198</string>
		<string>arrowdown</string>
		<string>uni2199</string>
		<string>arrowleft</string>
		<string>uni2196</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>lozenge</string>
		<string>uni25FE</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uni2116</string>
		<string>asciicircum</string>
		<string>uni0374</string>
		<string>uni0375</string>
		<string>uni02BC</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>uni03000304</string>
		<string>acutecomb</string>
		<string>uni03010304</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni03040300</string>
		<string>uni03040301</string>
		<string>hookabovecomb</string>
		<string>uni0312</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0331</string>
		<string>uni0335</string>
		<string>uni0336</string>
		<string>uni0337</string>
		<string>uni0338</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni05C1</string>
		<string>uni05B0</string>
		<string>uni05B1</string>
		<string>uni05B2</string>
		<string>uni05B3</string>
		<string>uni05B4</string>
		<string>uni05B5</string>
		<string>uni05B6</string>
		<string>uni05B7</string>
		<string>uni05B8</string>
		<string>uni05B9</string>
		<string>uni05BA</string>
		<string>uni05BB</string>
		<string>uni05BC</string>
		<string>uni05C2</string>
		<string>uni05C7</string>
		<string>tonos</string>
		<string>tonos.case</string>
		<string>dieresistonos</string>
		<string>uni1FBF</string>
		<string>uni1FBF.case</string>
		<string>uni1FBD.case</string>
		<string>uni1FBD</string>
		<string>uni1FFE.case</string>
		<string>uni1FFE</string>
		<string>uni1FCD</string>
		<string>uni1FDD.case</string>
		<string>uni1FDD</string>
		<string>uni1FCE</string>
		<string>uni1FCE.case</string>
		<string>uni1FDE.case</string>
		<string>uni1FDE</string>
		<string>uni1FCF</string>
		<string>uni1FCF.case</string>
		<string>uni1FDF.case</string>
		<string>uni1FDF</string>
		<string>uni1FED.case</string>
		<string>uni1FED</string>
		<string>uni1FEE.case</string>
		<string>uni1FEE</string>
		<string>uni1FC1.case</string>
		<string>uni1FC1</string>
		<string>uni1FEF</string>
		<string>uni1FEF.case</string>
		<string>uni1FFD.case</string>
		<string>uni1FFD</string>
		<string>uni1FC0.case</string>
		<string>uni1FC0</string>
		<string>uni1FCD.case</string>
		<string>brevecombcy</string>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
		<string>uni03020301</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03020303</string>
		<string>_extra2</string>
	</array>
</dict>
</plist>
